<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}" id="nav-home">TRANG CHỦ 首页</a>
        <!-- <a href="{{ url_for('about') }}" id="nav-about">GIỚI THIỆU  介绍</a> -->
        <a href="{{ url_for('contact') }}" id="nav-contact">LIÊN HỆ 联系我们</a>
        <div class="flags">
            <img src="{{ url_for('static', filename='images/vietnam-flag.png') }}" alt="Tiếng Việt" id="vi" class="flag">
            <img src="{{ url_for('static', filename='images/china-flag.png') }}" alt="中文" id="cn" class="flag">
        </div>
        
    </nav>
    <header>
        <div class="header-content">
            <p class="company">Công ty TNHH ỨC ÂN VIỆT NAM </p>
            <p class="phone">Hotline: 077.2016.888 - 0378.353.732 Zalo: 077.2016.888</p>
            <p class="email">Email: hyngocvan88shanhong@gmail.com</p>
            <P class="adress">Địa chỉ: Tổ 3, ấp Vĩnh Tuy, Xã Long Tân, Huyện Nhơn Trạch, Tỉnh Đồng Nai</P>
        </div>
    </header>
    <main>
        <div class="page-container">
            <div class="page-fade">
                <div class="banner">
                    <img src="static/baner.jpg" alt="Hình ảnh 1" class="banner">
                </div>
            </div>
        </div>      
    </main>
    <lien_he>
        <div class="lien_he_1">
            <h1>LIÊN HỆ</h1>
            
        </div>
        
        <div class='thong_tin_lien_he'>
            <p>CÔNG TY TNHH ỨC ÂN VIỆT NAM<br>
                Tổ 3, ấp Vĩnh Tuy, Xã Long Tân, Huyện Nhơn Trạch, Tỉnh Đồng Nai, Việt Nam<br>
                Mã số thuế : 3603894930<br>
                Số điện thoại / Zalo : 077.2016.888 - 0378.353.732<br>
                Email: hyngocvan88shanhong@gmail.com<br>
            </p>
             
        </div>
        <div class="lien_he_cn">
            <h1><span style="font-family:Sisum; font-size: 25px;">联系我们</span></h1>
            
        </div>
        
        <div class='thong_tin_lien_he_cn'>
            <p><span style="font-family:Sisum; font-size: 25px;">越南忆恩有限公司</span><br>
                <span style="font-family:Sisum; font-size: 25px;">地址: 越南同奈省仁泽县隆新社Vinh Tuy区3号小区</span><br>
                <span style="font-family:Sisum; font-size: 25px;">公司税码:</span> 3603894930<br>
                <span style="font-family:Sisum; font-size: 25px;">电话号码:</span> 077.2016.888 - 0378353732<br>
                <span style="font-family:Sisum; font-size: 25px;">邮箱:</span> hyngocvan88shanhong@gmail.com<br>
            </p>
             
        </div>

    </lien_he>
    <cuoi_dong_contact>
        <div class='cuoi_dong_contact'>
            <img src="static/foot.jpg" alt="Hình ảnh 2" class="image-left">
        </div>
    <cuoi_dong_contact>
</body>
</html>
