<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}" id="nav-home">HOME 首页</a>
        <!-- <a href="{{ url_for('about') }}" id="nav-about">GIỚI THIỆU  介绍</a> -->
        <a href="{{ url_for('contact') }}" id="nav-contact">CONTACT 联系我们</a>
        <div class="flags">
            <img src="{{ url_for('static', filename='images/vietnam-flag.png') }}" alt="Tiếng Việt" id="vi" class="flag">
            <img src="{{ url_for('static', filename='images/china-flag.png') }}" alt="中文" id="cn" class="flag">
        </div>
        
    </nav>
    <header>
        <div class="header-content">
            <p class="company">Uc An Vietnam Company Limited </p>
            <p class="phone">Hotline: 077.2016.888 - 0378.353.732 Zalo: 077.2016.888</p>
            <p class="email">Email: hyngocvan88shanhong@gmail.com</p>
            <P class="adress">Address: Group 3, Vinh Tuy Hamlet, Long Tan Commune, Nhon Trach District, Dong Nai Province</P>
        </div>
    </header>
    <main>
        <div class="page-container">
            <div class="page-fade">
                <div class="banner">
                    <img src="static/baner.jpg" alt="Hình ảnh 1" class="banner">
                </div>
            </div>
        </div>      
    </main>
    <noi_dung>
        <div class="cty1">
            <h1><span style="font-family:Sisum; font-size: 25px;">越南忆恩有限公司</span><br>Uc An Vietnam Co., Ltd </h1>
            
        </div>
        <div class='noi_dung_1'>
           <p><span style="font-family:Sisum; font-size: 25px;">越南忆恩有限公司成立于2023年，是经过国家相关部门批准注册企业，是一家集设计，制版，生产，裁剪，绣花，熨烫，包装于一体的专业帽子工厂。</span><br>
           Uc An Vietnam Co., Ltd. was approved for establishment by the Department of Planning and Investment in 2023. This is a professional hat manufacturing facility that encompasses all stages: design, panel production, cutting, embroidery, ironing, and packaging.
            </p>
        </div>
        <div class="ho_so">
            <h1><span style="font-family:Sisum; font-size: 25px;">公司简介</span><br>Company Profile</h1>
            
        </div>
        <div class='noi_dung_hs'>
           <p><span style="font-family:Sisum; font-size: 25px;">越南忆恩有限公司地址于越南同奈省仁泽县隆新社Vinh Tuy区3号小区。现有员工150以上，自创建以来，承蒙社会各界朋友的热忱关心和支持，经营业务不断扩展，生产规模日益扩大，凭着过硬的质量和良好的服务体系为不同行业，不
            同国家的客人服务，我们现拥有优秀的设计和裁剪师傅，先进的缝制，绣花及印花设备，形成裁制、缝制、绣花或印花、定型、整烫、包装等完整的流水线能确保生产和出货时间，满足厂家的各种需求。</span>
            <br>
            Uc An Vietnam Co., Ltd. is located at Group 3, Vinh Tuy Hamlet, Long Tan Commune, Nhon Trach District, Dong Nai Province, Vietnam.

            The company has over 150 employees. Since its establishment, with excellent product quality and good customer service, and receiving significant attention and enthusiastic support from partners and customers, the company has continuously developed and expanded its production scale.

            We currently have master designers and cutters, advanced sewing, embroidery, and printing equipment, forming a complete assembly line including cutting, sewing, embroidery or printing, shaping, ironing, packaging, etc., to ensure production and delivery times and meet various customer requirements.

            Our company has been and continues to serve many customers in the hat manufacturing and trading industry both domestically and internationally. 

            </p>
        </div>

        

    </noi_dung>
   
    <san_pham>
        <div class="san_pham_1">
            <h1><span style="font-family:Sisum; font-size: 25px;">主营产品</span>  <br>Primary Products</h1>
            
        </div>
        
        <div class='thong_tin_sp'>
            <p><span style="font-family:Sisum; font-size: 25px;">产品分为：棒球帽、旅游帽、太阳帽、运动帽、空顶帽、网帽、童帽、平顶帽、洗水帽、等各类帽子。</span><br>Products: baseball caps, travel hats, sun hats, sports caps, bucket hats, mesh caps, children’s hats, flat caps, washable hats, and various other types of hats.
            </p>
             
        </div>
    </san_pham>
    <nhan_vien>
        <div class="nhan_vien_1">
            <h1><span style="font-family:Sisum; font-size: 25px;">公司宗旨是</span><br>Business Objective</h1>
            
        </div>
        
        <div class='thong_tin_nv'>
            <p><span style="font-family:Sisum; font-size: 25px;">我们会坚定不移的奉行“质量第一、客户至上的经营理念，以真诚的态度、优良的质量、竞争力的价格”为广大客户生产满意的优质产品。</span><br>
                Company Purpose: Uc An Vietnam Co., Ltd. always adheres to the business philosophy of "quality first, customer first, and producing high-quality products that satisfy customers with sincerity, excellent quality, and competitive prices."


            </p>
             
        </div>
    </nhan_vien>
    <cuoi_dong>
        <div class='cuoi_dong'>
            <img src="static/foot_china.jpg" alt="Hình ảnh 2" class="image-left">
        </div>
    </cuoi_dong>
</body>
</html>